<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>todo-app</title>
</head>

<body>
    <div id="app" class="container">
        <div class="todo-app">
            <h2>To-do List </h2>


            <form class="row">
                <input type="text" name="description" id="description" v-model="newTodo.description"
                    placeholder="To do">
                <select name="done" id="done" v-model="filterOption">
                    <option value="all">All</option>
                    <option value="false">FALSE</option>
                    <option value="true">TRUE</option>
                </select>
                <button @click.prevent="addTodo">Add</button>
                <button @click="rmDone">Remove done</button>
            </form>
            <ul>
                <!-- List todos -->
                <li v-for="(todo, index) in todos" :key="todo.id" @click="toggleStatus(index)"
                    :class="{ checked: todo.done }">
                    {{ todo.description }}

                </li>
            </ul>

        </div>
    </div>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>
</body>

</html>